.header {
    display: flex;
    justify-content: space-between;
    grid-area: h;
    background: #f1f3f1;
}
.img {
    width: 60px;
    padding: 0 30px;
}
.header .link{
    padding: 20px 30px;
    text-decoration: none;
    color: #1c1c86;
}
.logout {
    border-style: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    background: red;
    margin-left: 9px;
}
.login{
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    background: #28d;
}