.wrapper {
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}
body {
    background: #f8f9fa;
}
.error404{
    color:red;
    margin: 0 auto;
    padding: 50px;
    font-size: 50px;
}